body {
  background-color: #9696DA;
}

.container {
  text-align: center;
}
.container-parrafo {
  text-align: justify;
}

.fondo {
  position: absolute;
  width: 99%;
  height: 100%;
  z-index: -1;
}

.botones {
  height: 70px;
}
.btn {
  position: absolute;
  top: 20px;
  left: 300px;
  padding: 12px;
  background-color: rgb(107, 43, 149);
  color: white;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
  font-weight: bolder;
}
.btn:hover {
  box-shadow: 5px 5px 10px black;
  border: 2px solid black;
}
.redes {
  left: 600px;
}
.quienesSomos {
  left: 850px;
}


.ralla-superior {
  background-color: white;
  height: 5px;
}
.ralla-inferior {
  background-color: black;
  height: 5px;
}

.parrafo {
  font-size: 22px;
  margin: 0 300px;
}
.asterisco {
  font-weight: bolder;
  color: red;
}
.aclaracion {
  font-size: 18px;
}

.imagen, .video {
  display: none;
  width: 350px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 7px 7px 10px black;
  animation: aparece 5s;
}
@keyframes aparece {
  from {
      width: 0;
  }
  to {
      width: 350px;
  }
}
.video {
  margin-top: 430px;
}
.foto4 {
  height: 300px;
}

footer {
  font-size: 15px;
  text-align: center;
}
.footer-donaciones {
  margin-top: 15%;
  font-size: 15px;
}
.area-donaciones {
  width: 500px;
  border: 2px solid blue;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  margin: 10px 30vw;
}
h2 {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: blue;
  background-color: rgba(128, 128, 128, 0.703);
}
.whatsapp {
  position: absolute;
  width: 40px;
	height: 40px;
	top: 20px;
	left: 40px;
}
@media only screen and (max-width: 1500px) {
  .parrafo {
    margin: 0 200px;
  }
  .area-donaciones {
    margin: 10px 27vw;
  }
  .btn {
    left: 200px;
  }
  .redes {
    left: 500px;
  }
  .quienesSomos {
    left: 700px;
  }
}
@media only screen and (max-width: 1000px) {
  .parrafo {
    margin: 0 100px;
}
  .btn {
    left: 150px;
  }
  .redes {
    left: 350px;
  }
  .quienesSomos {
    left: 550px;
  }
  .area-donaciones {
    margin: 10px 20vw;
    font-size: 17px;
    width: 400px;
  }
}

@media only screen and (max-width: 750px) {
  .btn {
    left: 100px;
  }
  .redes {
    left: 250px;
  }
  .quienesSomos {
    left: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .parrafo {
    margin: 0 2px;
}
  .parrafo {
    font-size: 18px;
  }
  .aclaracion {
    font-size: 14px;
  }
  .imagen, .video {
    width: 96%;
  }
  .area-donaciones {
    width: 340px;
    margin: 10px 10vw;
  }
  .btn {
    padding: 7px;
    left: 90px;
  }
  .redes {
    left: 225px;
  }
  .quienesSomos {
    left: 355px;
  }

}

@media only screen and (max-width: 520px) {
  .area-donaciones {
    margin: 10px 0vw;
  }
  .whatsapp {
    left: 5px;
  }
  .btn {
    padding: 5px;
    font-size: 12px;
    left: 50px;
  }
  .redes {
    left: 150px;
  }
  .quienesSomos {
    left: 245px;
  }
}
